{{ $aos := resources.Get "js/aos.js" }}
{{ $scripts := resources.Get "js/scripts.js" }}
{{ $bootstrap := resources.GetRemote "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" }}

<!DOCTYPE html>
<html lang="{{ site.Language }}">
    {{- partial "head.html" . }}
    <body id="page-top">
        {{- partial "navigation.html" . }}

        {{- block "main" . }}{{- end }}
        
        {{- partial "footer.html" . }}

        <script src="{{ $aos.Permalink }}"></script>
        <script src="{{ $scripts.Permalink }}"></script>
        <script src="{{ $bootstrap.Permalink }}"></script>
        <script src="https://rawgit.com/ruyadorno/simple-slider/master/dist/simpleslider.min.js"></script>

        <script>
            AOS.init({ duration: 1000, delay: 500 });
            var slider = simpleslider.getSlider({
                container: document.getElementById('myslider'),
                prop: 'opacity',
                delay: 3,
                init: -100,
                show: 0,
                end: 100,
                unit: '%'
            });
        </script>
    </body>
</html>
