<!-- Calculator-->
<section id="kalkulator" x-init="calculator()" class="d-flex p-2">
    <div class="accordion w-50" id="tarifCetak">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingHitamPutih">
                <button
                    type="button"
                    class="accordion-button collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseHitamPutih"
                    aria-expanded="true"
                    aria-controls="collapseHitamPutih"
                >
                    Halaman Hitam Putih
                </button>
            </h2>
            <div
                id="collapseHitamPutih"
                class="accordion-collapse collapse"
                aria-labelledby="headingHitamPutih"
                data-bs-parent="#accordionExample"
            >
                <div class="accordion-body">
                    <div class="mb-5">
                        <strong
                            >Kertas HVS 70g dan Bookpaper 57,5g (paling
                            murah)</strong
                        >
                        <table class="table table-striped table-hover">
                            <tbody>
                                <tr>
                                    <td>A6 dan B6</td>
                                    <td>80</td>
                                </tr>
                                <tr>
                                    <td>A5</td>
                                    <td>100</td>
                                </tr>
                                <tr>
                                    <td>B5</td>
                                    <td>150</td>
                                </tr>
                                <tr>
                                    <td>A4</td>
                                    <td>200</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mb-5">
                        <strong
                            >Kertas hvs 80 gram dan bookpaper 72 gram</strong
                        >
                        <table class="table table-striped table-hover">
                            <tbody>
                                <tr>
                                    <td>A6 dan B6</td>
                                    <td>96</td>
                                </tr>
                                <tr>
                                    <td>A5</td>
                                    <td>120</td>
                                </tr>
                                <tr>
                                    <td>B5</td>
                                    <td>180</td>
                                </tr>
                                <tr>
                                    <td>A4</td>
                                    <td>240</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mb-5">
                        <strong>Kertas hvs100 gram</strong>
                        <table class="table table-striped table-hover">
                            <tbody>
                                <tr>
                                    <td>A6 dan B6</td>
                                    <td>112</td>
                                </tr>
                                <tr>
                                    <td>A5</td>
                                    <td>140</td>
                                </tr>
                                <tr>
                                    <td>B5</td>
                                    <td>210</td>
                                </tr>
                                <tr>
                                    <td>A4</td>
                                    <td>280</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingWarna">
                <button
                    type="button"
                    class="accordion-button collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseWarna"
                    aria-expanded="true"
                    aria-controls="collapseWarna"
                >
                    Halaman Hitam Putih
                </button>
            </h2>
            <div
                id="collapseWarna"
                class="accordion-collapse collapse"
                aria-labelledby="headingWarna"
                data-bs-parent="#accordionExample"
            >
                <div class="accordion-body">
                    <div class="mb-5">
                        <strong
                            >Kertas HVS 70g dan Bookpaper 57,5g (paling
                            murah)</strong
                        >
                        <table class="table table-striped table-hover">
                            <tbody>
                                <tr>
                                    <td>A6 dan B6</td>
                                    <td>80</td>
                                </tr>
                                <tr>
                                    <td>A5</td>
                                    <td>100</td>
                                </tr>
                                <tr>
                                    <td>B5</td>
                                    <td>150</td>
                                </tr>
                                <tr>
                                    <td>A4</td>
                                    <td>200</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mb-5">
                        <strong
                            >Kertas hvs 80 gram dan bookpaper 72 gram</strong
                        >
                        <table class="table table-striped table-hover">
                            <tbody>
                                <tr>
                                    <td>A6 dan B6</td>
                                    <td>96</td>
                                </tr>
                                <tr>
                                    <td>A5</td>
                                    <td>120</td>
                                </tr>
                                <tr>
                                    <td>B5</td>
                                    <td>180</td>
                                </tr>
                                <tr>
                                    <td>A4</td>
                                    <td>240</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mb-5">
                        <strong>Kertas hvs100 gram</strong>
                        <table class="table table-striped table-hover">
                            <tbody>
                                <tr>
                                    <td>A6 dan B6</td>
                                    <td>112</td>
                                </tr>
                                <tr>
                                    <td>A5</td>
                                    <td>140</td>
                                </tr>
                                <tr>
                                    <td>B5</td>
                                    <td>210</td>
                                </tr>
                                <tr>
                                    <td>A4</td>
                                    <td>280</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
