{{ $bg := resources.Get "img/books-3454392.webp" }}
<!-- Call to action section-->
<section
    class="cta"
    id="cetak" 
    style="background-image: url('{{ $bg.Permalink }}');"
>
<div class="cta-content">
    <div class="container px-5" data-aos="fade-up">
        <h2 class="text-white display-1 lh-1 mb-4">
            {{ .Params.cta_section.line_1 }}
            <br />
            {{ .Params.cta_section.line_2 }}
        </h2>
        <a class="btn btn-outline-light py-3 px-4 rounded-pill" href="{{ .Params.cta_section.cta_link }}" target="_blank">{{ .Params.cta_section.cta_text }}</a>
    </div>
</div>
</section>
