<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm backdrop-blur" id="mainNav">
    <div class="container px-5">
        <a class="navbar-brand fw-bold" href="#page-top">{{ $.Site.Params.CompanyName }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                <li class="nav-item"><a class="nav-link me-lg-3" href="#home">Beranda</a></li>
                <li class="nav-item"><a class="nav-link me-lg-3" href="#about-us">Tentang Kami</a></li>
                <li class="nav-item"><a class="nav-link me-lg-3" href="#kalkulator">Hitung Biaya Cetak</a></li>
                <li class="nav-item"><a class="nav-link me-lg-3" href="https://katalogpasmedia.web.id/">Katalog Buku</a></li>
            </ul>
            <a class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" href="#cetak">
                <span class="d-flex align-items-center text-white">
                    <i class="bi-chat-text-fill me-2"></i>
                    <span class="small">Order Cetak</span>
                </span>
            </a>
        </div>
    </div>
</nav>
