// 
// Colors
// 

// Override Bootstrap color systel colors

$blue: #2937f0;
$purple: #9f1ae2;
$pink: #FF5F6D;
$yellow: #FFC371;

// Override Bootstrap default state colors

$primary: $pink;
$secondary: $yellow;
